.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #eff3f3;
  overflow: hidden;
  
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  font-weight: bolder;
  background-color: #00b043;
  text-align: center;
  padding: 18px 10px;
  text-decoration: none;
  font-size: 15px;
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}

.logo {
  display: flex;
  /* align-items: center; */
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  object-position: -10% 10;
  box-sizing: border-box;
  width: 350px;
  max-height: 100%;
}

.fix-flip {
  text-align: center;
}